.custom-fit {
    height: 100px !important;
    object-fit: cover !important;
}

.img-fluid {
    cursor: pointer;
}

hr.new3 {
    border-top: 1px dotted grey;
    border-right: 0;
    border-left: 0;
}

.ext1 {
    border-right: 0px solid transparent !important;
}
.ext2 {
    border-left: 0px solid transparent !important;
}

span.h1 {
    color: #603812 !important;
}

.mainMarg {
    margin-top: 6% !important;
}

.right {
    float: right !important;
    cursor: pointer;
    margin-top: 20% !important;
}

